#game {
	width: 500px;
}
#gameBoard {
	height: 500px;
	width: inherit;
	background-color: #ffcb05;
	border: 8px groove #00274c;
}
#gameInfo {
	height: 200px;
	width: inherit;
	background-color: #ffcb05;
	border: 8px groove #00274c;
	border-top: none;
	float: bottom;
	text-align: center;
	font-family: "Papyrus";
	font-size: 24px;
	font-weight: bold;
}
#gameMessage {
	display: none;
}

#bodyPart {
	height: 25px;
	width: 25px;
	position: absolute;
	left: 100px;
	background-color: #00274c;
}

.bodyPart {
	height: 25px;
	width: 25px;
	position: absolute;
	background-color: #00274c;
}

.food {
	height: 25px;
	width: 25px;
	position: absolute;
	background-color: #00274c;
}